{% extends 'base.html' %}
{% block content %}
  <div class="text-center" id="loading-spinner">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <form class="input-container" action="{{ url_for('submit_artists_data') }}" method="post">
    <!-- Playlist Title Group -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="title-input-label">Playlist title</span>
      </div>
      <input type="text" class="form-control" name="playlist-title" id="playlist-title-input" placeholder="2000s R&B" aria-label="Playlist Title" aria-describedby="title-input-label">
    </div>

    <!-- Artist Input Group -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="artists-input-label">Artists</span>
      </div>
      <input type="text" class="form-control" name="artists" id="artists-input" placeholder="Justin Bieber, Wiinston" aria-label="Artists Input" aria-describedby="artists-input-label">
    </div>

    <button class="submit-button" type="submit"><span>Generate Playlist</span></button>
  </form>
  
  <div class="playlist-group">
    {% for playlist_url in playlists %}
      <iframe class="playlist-iframe" src="{{ playlist_url }}" width="300" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% endfor %}
  </div>
{% endblock %}
